# This requirements are for development and testing only, not for production.
coverage
gitchangelog
mkdocs
plantuml_markdown
pyright
pytest
pytest-cov
pytest-recording
pytest-postgresql
ruff
snapshottest